ggplot2
reshape2
dplyr
data.table

ggplot2
RColorBrewer
reshape2
grid
gridExtra
gplots
vegan
tsne
ggMarginal
parallelDist
cluster
limma
dplyr
devtools
circlize
ComplexHeatmap
maSigPro
purrr
ggrepel
stringr
tidyr
gtable
igraph
viridis
ggalt
VennDiagram
randomForest
rfPermute
